name: docker-image

on:
  push:
    branches:
      - master
  release:
    types:
      - published

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date --utc +%Y-%m-%dT%H:%M:%SZ)"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push ${{github.event.release.tag_name }}
        id: docker_build_release
        uses: docker/build-push-action@v6
        if: ${{ github.event.release.tag_name != '' }}
        with:
          context: .
          file: ./deb/Dockerfile
          push: true
          tags: ghcr.io/bakito/protonmail-bridge:latest,ghcr.io/bakito/protonmail-bridge:${{ github.event.release.tag_name }}
          platforms: linux/amd64
          build-args: |
            VERSION=${{ github.event.release.tag_name }}
            BUILD=${{ steps.date.outputs.date }}

      - name: Build and push latest
        id: docker_build_latest
        uses: docker/build-push-action@v6
        if: ${{ github.event.release.tag_name == '' }}
        with:
          context: .
          file: ./deb/Dockerfile
          push: true
          tags: ghcr.io/bakito/protonmail-bridge:latest
          platforms: linux/amd64
          build-args: |
            VERSION=latest
            BUILD=${{ steps.date.outputs.date }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
